
ul{
    list-style-type: none;
    border: 1px solid black;
    width: 200px;
    background-color: hwb(191 35% 9%);
    padding: 0;
    margin: 0;
    }
    
    li{
        display: block;
    }
    li a{
        text-decoration: none;
    }
    
    #menu{
        background-color: yellow;
    }
    
    div{
        background-color: hwb(0 58% 40%);
        display: inline-block;
        padding: 15px 0 15px 0;
        border: 1px solid black;
        overflow: hidden;
    }
    
    .hbar a{
        padding: 15px;
        border-right: 1px solid black;
        text-decoration: none;
        text-align: center;
        
    }
    
    #hmenu{
        background-color: hsl(0, 1%, 37%);
    }